<form action="" method="post" enctype="multipart/form-data">
    <table>
        <tr>
            <td><label for="nm">Name</label></td>
            <td><input type="text" name="nm" id="nm"></td>
        </tr>
        <tr>
            <td><label for="desc">Description</label></td>
            <td><textarea name="desc" id="desc"></textarea></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="file" name="img" id="images"  accept="image/*,image/jpeg"></td>
        </tr>
        <tr>
            <td><label for="prc">Price</label></td>
            <td><input type="text" name="prc" id="prc"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" name="add" value="Add"></td>
        </tr>
    </table>
</form>
