<ol class="menu2">
    <li><a href="/Admin/DellItem">Delete Product</a></li>
    <li><a href="/Admin/ChangeItem">Change Product</a></li>
    <li><a href="/Admin/AddItem">Add Product</a></li>
</ol>