<table class="dells">
    <?php
    $url = explode('/', $_SERVER['REQUEST_URI']);
    if(!isset($url[3])) {
        foreach ($this->values as $item) { ?>
            <tr>
                <td><?php echo htmlentities($item['name']); ?></td>
                <td><?php echo htmlentities($item['description']); ?></td>
                <td><a href="ChangeItem/<?php echo htmlentities($item['Id']); ?>">change</a></td>
            </tr>
        <?php }
    }
    else{
        if(isset($url[3])&&$url[3]!=''){
            $query = "SELECT * FROM products WHERE `Id`='{$url[3]}'";
            $item1 = $pdo->query($query);
            $item2 = $item1->fetchAll();
        ?>
            <form action="/Admin/Changes" method="post" enctype="multipart/form-data">
                <?php foreach($item2 as $item){?>
                <tr>
                    <td><label for="imag">File(image)</label></td>
                    <td></td>
                    <td><label for="nm">Name Product</label></td>
                    <td><label for="prc">Price Product</label></td>
                </tr>
                <tr>
                    <td><input type="file" name="imag" id="imag"></td>
                    <td><input type="text" name="id" id="id" class="shows" value="<?php echo htmlentities($item['Id']); ?>" required></td>
                    <td><input type="text" name="nm" id="nm" value="<?php echo htmlentities($item['name']); ?>" required></td>
                    <td><input type="text" name="prc" id="prc" value="<?php echo htmlentities($item['price']); ?>" required></td
                </tr>
                    <tr>
                        <td><label class="ds" for="description">Description Product</label></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><textarea name="description" id="description" class="change"><?php echo htmlentities($item['description']); ?></textarea></td>
                        <td><input type="submit" value="Change"></td>
                        <td></td>
                        <td></td>
                    </tr>
                   <?php } ?>
            </form>
        <?php
        }
    }
    ?>
</table>