<table class="dells">
<?php
foreach($this->values as $item){ ?>
    <form action="/Admin/Deleted" method="post">
        <tr>
            <td><?php echo htmlentities($item['name']); ?></td>
            <td><?php echo htmlentities($item['description']); ?></td>
            <td class="shows"><input type="text" name="Id" value="<?php echo htmlentities($item['Id']); ?>"></td>
            <td class="shows"><input type="text" name="imag" value="<?php echo htmlentities($item['image']); ?>"></td>
            <td><input type="submit" name="dells" value="delete"></td>
        </tr>
    </form>
    <?php } ?>
</table>
