<form action="" method="post" enctype="multipart/form-data">
    <table>
        <tr>
            <td><label for="log">Login</label></td>
            <td><input type="text" name="log" id="log" placeholder="L"></td>
        </tr>
        <tr>
            <td><label for="pass">Password</label></td>
            <td><input type="password" name="pass" id="pass" placeholder=" "></td>
        </tr>
        <tr>
            <td><label for="mail">E-Mail</label></td>
            <td><input type="text" name="mail" id="mail"></td>
        </tr>
        <tr>
            <td><label for="newmail">New E-Mail</label></td>
            <td><input type="text" name="newmail" id="newmail"></td>
        </tr>
        <tr>
            <td class = "errors"> </td>
            <td><input type="submit" name="ChangeMail" value="Change E-Mail"></td>
        </tr>
    </table>
</form>
