*{margin: 0; padding: 0;}
body{ padding: 0 100px; margin: 0 auto;}
.menu li{
    display: inline-block;
    margin: 15px 30px;
    font-family: Arial;
    font-size: 20px;
    list-style: none;
}
div.list{
    display: inline-block;
    width: 30%;
    padding: 10px 15px;
    /* border: 1px solid #ccc; */
    vertical-align: top;
    margin-top: 20px;
}
.menu li a{ color: #1190FD; text-decoration: none;}
.list div.productsImg{height: 200px; background-repeat: no-repeat; background-size: contain;}
.LoginMenu{float: right; margin-top: -35px; margin-right: 20px;}
.LoginMenu li{display: inline-block; margin-right: 15px;}
.LoginMenu li a{ text-decoration: none; color: #545454;}
.LoginMenu li a:hover{transition: color 1s; color: blue;}
h1{margin-bottom: 40px;}
a{text-decoration: none;}
table{
    width: 40%;
    margin: 50px auto;
    text-align: center;
    background-color: #ccc;
    padding: 20px;
}
input, textarea{ width: 80%;  padding: 10px;  margin: 10px 0;  }
td.errs p{color: red;}
td{text-align: left;}
table.dells{width: 100%;}
table.dells td {border-bottom: 1px solid #000;}
table td.shows{display: none;}
.menu2 li{list-style: none;  font-size: 20px; margin: 20px;}
.menu2 li a{color: lightslategray; text-decoration: underline;}
.change{height: 150px; width: 90%;}
.ds{padding: 30px 0;}
.users li{
    list-style: none;
}
.users a{
    text-decoration: none;
    color: #1190FD;
    font-size: 18px;
}
