<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><?php
            $url = explode('/', $_SERVER['REQUEST_URI']);
        if(!isset($url[1])){$url[1] = "Home";}
            echo htmlentities($url[1]);
        ?></title>
    <link rel="stylesheet" type="text/css" href="/Media/css/style.css">
</head>
<body>