<?php
foreach($this->values as $item){
    ?>
    <div class="list">
        <div style="background-image:url(<?php echo "../../Media/image/"; echo $item['image'] ?>);" class="productsImg"></div>
        <div>
            <p><?php echo $item['name'] ?></p>
            <p><?php echo $item['description'] ?></p>
        </div>
        <div>
            <p><?php echo $item['price'] ?></p>
            <a href="../../Product">back</a>
            <button>Купить</button>
        </div>
    </div>
    <?php
}
?>