<?php
foreach($this->values as $item){
    ?>
    <div class="list">
        <div style="background-image:url(<?php echo "Media/image/"; echo htmlentities($item['image']); ?>);" class="productsImg"></div>
        <div>
            <p><?php echo htmlentities($item['name']); ?></p>
            <p><?php echo htmlentities($item['description']); ?></p>
        </div>
        <div>
            <p><?php echo htmlentities($item['price']); ?></p>
            <a href="Product/Item/<?php echo htmlentities($item['Id']);  ?>">open</a>
            <button>Купить</button>
        </div>
    </div>
    <?php
}
?>