<form action="Login" method="post" enctype="multipart/form-data">
    <table>
        <tr>
            <td><label for="login">Login</label></td>
            <td><input type="text" name="login" id="login" required></td>
        </tr>
        <tr>
            <td><label for="pass">Password</label></td>
            <td><input type="password" name="pass" id="pass" required></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" name="logs" value="Sing In"></td>
        </tr>
    </table>
</form>