<?php
    include "../Models/Admin/CheckUserForMenu.php";
?>
<ul class="menu">
    <li><a href="/Home">Home</a></li>
    <li><a href="/About">About</a></li>
    <li><a href="/Product">Product List</a></li>
    <?php
    if ($isAdmin && isset($_SESSION['login'])) {
        ?>
        <li><a href="/Admin">Admin Menu</a></li>
        <?php
    }
    ?>
</ul>
<ul class="LoginMenu">
    <?php
    if ($isUser && isset($_SESSION['login'])) {
        ?>
        <li><a href="/Account"><?php echo $_SESSION['login']; ?></a></li>
    <?php } else {
        ?>
        <li><a href="/Account/Registration">Registration</a></li>
        <li><a href="/Account/Login">Sing In</a></li>
    <?php }

    ?>
</ul>