<?php
    if(isset($thisUser)){?>
<div class="users">
    <h1>Hello <?php echo $thisUser;?></h1>
    <ul>
        <li><a href="Account/ChangePassword"> change password</a></li>
        <li><a href="Account/ChangeMail"> change mail</a></li>
        <li><a href="Account/Deleted"> dell my account</a></li>
        <li><a href="Account/LogOut">log out</a></li>
    </ul>
</div>
<?php }
else{
    header("Location: /Login");
}?>